.ginput{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 24px;
    border: 1px solid grey;
    border-radius: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.gimg{
    width: 300px;
    height: 50px;
    display: block;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.gbuttons{
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    width: 120px;
    height: 25px;
    border-radius: 24px;
    margin-left: 5px;
    margin-right: 5px;
}
.main{
    margin-top: 100px;
}
.red{
    background: red;
    height: 100px;
    margin-bottom: 20px;
}
.blue{
    background: blue;
    height: 50px;
    margin-bottom: 20px;
}
.green{
    background: green;
    height: 100px;
    margin-bottom: 10px;
}
body{
    margin: 0px;
}
.text{
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 20px;
    border: 5px solid red;
    border-radius: 10px;
}
.button{
    font-weight: bold;
    margin-bottom: 100px;
    margin-top: 20px;
    border: 1px solid grey;
    border-radius: 18px;
    width: 120px;
    height: 2rem;
    background-color: white;
}
.item{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center; 
}
.nav-wrapper{
    display: flex;
    justify-content: center;
}
.button-wrapper{
    display: flex;
    justify-content: center;
}
.p4img{
    width: 150px;
}
.face-card{
    margin: 100px auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    text-align: center;
    background-color: #ddebf8;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.red-circle{
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 100%;

    margin: 40px auto;
}